[submodule ".registry"]
	path = .registry
	url = https://github.com/pchausse/pchausse.r-universe.dev
	branch = HEAD
[submodule "metricsUW"]
	path = metricsUW
	url = https://codeberg.org/pchausse/metricsUW.git
