[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causalSLSE"]
	path = causalSLSE
	url = https://github.com/cran/causalSLSE
[submodule "gmm"]
	path = gmm
	url = https://github.com/pchausse/gmm
[submodule "momentfit"]
	path = momentfit
	url = https://github.com/pchausse/momentfit
