[submodule ".registry"]
	path = .registry
	url = https://github.com/pchausse/pchausse.r-universe.dev
	branch = HEAD
[submodule "causalSLSE"]
	path = causalSLSE
	url = https://codeberg.org/pchausse/causalSLSE
[submodule "funcreg"]
	path = funcreg
	url = https://codeberg.org/pchausse/funcreg
[submodule "gmm"]
	path = gmm
	url = https://codeberg.org/pchausse/gmm
[submodule "malp"]
	path = malp
	url = https://codeberg.org/pchausse/malp
[submodule "metricsUW"]
	path = metricsUW
	url = https://codeberg.org/pchausse/metricsUW
[submodule "momentfit"]
	path = momentfit
	url = https://codeberg.org/pchausse/momentfit
